{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <title>Login Page</title>
</head>

<body>
    <div class="form">
        <div>
            <h1>Login Form</h1>
        </div>
        <form action="/login/" method="POST">
            {% csrf_token %}
            <div class="field-wrap">
                <input type="text" required placeholder="Email Address" name="username"/>
            </div>
            <div class="field-wrap">
                <input type="password" required placeholder="Password" name="password"/>
            </div>
            <div class="field-wrap">
                <p>Not have an account <a href="{% url "signup" %}">Sign Up</a></p>
            </div>
            <input class="button" type="submit" value="Login">
        </form>
    </div>
</body>

</html>